{
  "presets": [
      [
          "@babel/preset-env",
          {
              "targets": {
                  "node":3
              },
          }
      ]
  ],
  "plugins": [
    [
        "@babel/plugin-transform-runtime",
        {
            "corejs": false,
            "helpers": false,
            "regenerator": false,
            "useESModules": false
        }
    ],
    [
        "import", 
        {
            "libraryName": "muse-ui",
            "libraryDirectory": "lib",
            "camel2DashComponentName": false
        }
    ]
  ],
  "comments": false
}