@import './mixin';


/* 加载中容器 */
.loading {
    position: relative;
    &>.mu-loading-wrap {
        z-index: inherit;
    }
    .mu-circular-progress {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.mu-load-more {
    min-height: 130px;
}
.mu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
